.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ut-row {
    display:flex;
    flex-direction: row;
}

.ut-col {
    display: flex;
    flex-direction: column;
}